{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
